@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --green1: rgb(95, 125, 34);
    --green: rgb(0, 45, 32);
    --bege: rgb(248, 227, 181);
}

body {
    background-color: var(--bege);
    min-height: 100vh;
}

h1 {
    padding: 20px;
    color: var(--green1);
}

p {
    color: var(--green);
    margin-left: 40px;
    padding: 10px;
    font-size: large;
}

h2 {
    padding: 20px;
    color: var(--green1);
}

.img {
    margin-left: 100px;
    width: 800px;
    height: 500px;
    box-shadow: 2px 2px 2px rgb(95, 125, 34);
    border-radius: 5px;
    margin-bottom: 50px;
}

.header {
    background-color: var(--green);
    padding: 60px;
    display: flex;
    justify-content: center;
}

.header img {
    position: center;
    background-color: var(--bege);
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
    height: auto;
    box-shadow: 1px 2px 1px rgb(95, 125, 34);
}

.linhas {
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
    margin-top: 10px;
    margin-left: 10px;
    max-width: 350px;
    background: var(--green);
    color: var(--bege);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 2px 1px rgb(95, 125, 34);
}

#videoPlayer {
    background-color: var(--green1);
    display: none;
    width: 660px;
    height: 370px;
    margin-top: 300px;
    margin-left: 250px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px rgb(95, 125, 34);
}

#select1:focus + #videoPlayer {
    display: flex;
}

#select1, #select2, #select3, #select4, #select5, #select6 {
    color: var(--green);
    margin-bottom: 5px;
}

.select-wrapper {
    margin-right: 20px;
}

.video-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
}

/* Media queries para tornar o CSS responsivo */

@media screen and (max-width: 768px) {
    .header {
        padding: 30px;
    }

    .header img {
        max-width: 200px;
    }

    .img {
        margin-left: 20px;
        width: 100%;
        height: auto;
    }

    #videoPlayer {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
    }

    .linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
        max-width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    h1, h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        margin-left: 20px;
    }
}
